html,
body {
  width: 100%;
}

body {
  text-align: right;
  color: #8ab300;
  font-family: 'Raleway', sans-serif;
  background-image: url(../img/background.jpg);
  background-size: cover;
  overflow: hidden;
  padding-right: 50px;
}
/*header {
  background-image: url(../img/bckground.jpeg) center;
  width: 80%;
  margin: auto;
}*/
footer {
 /* background-image: url(../img/background.jpg);*/
  width: 100%;
}
.contact {
  background-image: url(../img/contactus.jpg);
  width: 80%;
  height: 450px;
  margin: auto;
}

#four{
/* background: #999 url(img/contactus.jpg) center no-repeat; */
}
/*body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(40, 40, 45, 0.8);
  width: 100%;
  height: 100%;
  z-index: -1
}
*/
h1 {
  width: 100%;
  margin: 40vh 0 3vh 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 3em;
  color: #8ab300;
  margin-top: 20px;
  text-align: center;
}

i {
  display: block;
  width: 100%;
  margin-bottom: 4px;
  color: #8ab300;
}

.fa {
  display: inline-block;
  background: #037;
  color: #ddd;
  text-decoration: none;
  padding-top: 12px;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 20%;
  box-sizing: border-box;
  margin-left: 15px;
  box-shadow: 0 -50px 0 0 rgba(0, 0, 0, 0) inset;
  transition: all 0.4s;
}

.fa:hover {
  color: #fff;
  box-shadow: 0 -50px 0 0 rgba(0, 0, 0, 0.5) inset
}

.fa:nth-of-type(2) {
  background: #08c
}

.fa:nth-of-type(3) {
  background: #d10
}

.fa:nth-of-type(4) {
  background: #eb0
}

.fa:nth-of-type(5) {
  background: #0c6
}