 /* FOOTER */
		footer {
         width: 85%;
         text-align: center;
         height: auto;
         margin: auto;
         background-color: black;
         color: #BDBDBD;
         clear: both;
		}
      h6 {
         margin-top: -2px;
      }