   body {
          background: url(../img/background.jpg) /*center no-repeat*/;
          width: 100%;
          margin: auto;
	    }

  @media screen and (max-width: 420px) {
 body {
 background-color: lightblue;
}
}    

   /*HEADER*/
		.header {
         width: 100%;
         height: 70px;
         margin: auto;
         background-color: black;
         color: white;
         margin-top: 0px;
		}

	/*NAV*/
	html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*------------------------------------*\
  #GLOBAL STYLE SETTINGS
\*------------------------------------*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
}

/*body {
  list-style: none;
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
  height: 100%;
  line-height: 22px;
  font-size: 22px;
  background: url("img/background.jpg");

}*/

nav a {
  text-decoration: none;
  color: #fff;
}
nav a:hover{
  color: #8ab300;
  text-shadow: 8px 0px 20px #8ab300;
}
header {
  width: 100%;
  height: 40px;
  background-color: black;
}

/*.banner {
  display: block;
  width: 100%;
  background: url("img/background.jpg");
  min-height: 90vh;
}*/

#menu__icon {
  display: none;
  padding-top: 70px;
  padding-right: 70px;
  width: 40px;
  height: 40px;
  background: url(img/mobile_nav_list_icon.png) no-repeat, center;
  float: right;
}

nav ul {
  width: 20%;
  height: 80px;
  float: right;
}

nav ul li {
  display: inline-block;
  padding: 5px;
  padding-top: 20px;
  color: #000;
}

/*ul li:hover {
  color: blue;
}
*/





/*MEDIA QUERY*/

@media only screen and (max-width: 1600px) {
 nav ul {
    width: 40%;
    margin: 0 auto;
  }
}


@media only screen and (max-width: 750px) {
 nav a {
    color: #fff;
  }
  #menu__icon {
    display: inline-block;
  }
  nav ul,
  nav:active ul {
    display: none;
    position: absolute;
    background: #000;
    top: 40px;
    width: 100%;
    height: 191px;
  }
  nav li {
    text-align: center;
    width: 100%;
    margin: 0;
    color: #fff;
    border-bottom: 1px solid #353535;
  }
  nav:hover ul {
    display: block;
  }
  nav li:hover {
    background-color: #fff;
  }
  nav li:hover a {
    color: #000;
  }
  }