.top-ul {
  width: 70%;
  margin: auto;
  text-align: right;
  color: #8ab300;
  list-style: none;
  margin-top: 80px;
}

/*SECTION*/
section {
	width: 70%;
	margin: auto;
	overflow: hidden;
	height: auto;
  background-color: white;
  color: ;
  text-align: left;
  margin-top: 0px;
	}
		
button {
 border: none;
 background-color: #8ab300;
 font-size: 20px;
 padding: 5px 5px;
 border-radius: 10px;
 float: right;
 margin-top: -35px;
 margin-right: 10px;
}

.h1 {
	color: black;
  font-size: 30px;
  text-decoration: underline;
  text-align: center;
	}
/*ARTICLE*/
.article {
 width: 49%;
 float: left;
 font-size: 20px;
 margin: auto;
 
}

.middle-ul {
 list-style: none;
 margin-top: 5px;
 margin-left: 5px;
}
/*ASIDE*/
.aside {
 width: 49%;
 font-size: 20px;
 margin: auto;
 float: left;
}
.large-ul {
 margin-top: 5px;
 list-style: none;
}