body {
    background: url(img/background.jpg)
    
    ;
}
/*SECTION*/

section {
    width: 85%;
    margin: auto;
    overflow: hidden;
    height: auto;
    
    color: ;
    text-align: black;
}
/*ARTICLE*/

article {
    width: 69%;
    height: auto;
    
    float: left;
}
p {
    color: black;
    text-align: left;
    width: 80%;
    color: #8ab300;
    padding-left: 20px;
    font-size: 22px;
}
.border1 {
    border-left: 10px solid black;
}
.border2 {
    border-left: 10px solid rgb(255, 100, 100);
    ;
}
/*ASIDE*/

aside {
    width: 30%;
    height: 470px;
    text-align: center;
    
    background: url(img/pexels-photo-70232.jpeg);
    color: black;
    float: right;
}
aside h1 {
    text-align: left;
}
.pic {
    height: 200px;
    width: 200px;
    margin: auto;
    border-radius: 150px;
    background-color: black;
    /*background-image: url(../img/tesherra.jpg);*/
}
.pic img {
    height: 100%;
    width: 100%;
    border-radius: 150px;
}
a {
    text-decoration: none;
    color: white;
    margin-top: 20px;
}
button {
    background-color: black;
    border: none;
    color: #8ab300;
    font-size: 30px;
    margin-top: 150px;
    padding: 5px 5px;
    border-radius: 10px;
}
/*FOOTER*/
/*footer {
         width: 100%;
         text-align: center;
         height: auto;
         margin: auto;
         background-color: black;
         color: gainsboro;
         clear: both;
        }*/

h1 {
    color: white;
}