html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*------------------------------------*\
  #GLOBAL STYLE SETTINGS
\*------------------------------------*/
body{
  background:url(img/background.jpg) /*center no-repeat*/;
}

      /*SECTION*/
    section {
     width: 70%;
     margin: auto;
     overflow: hidden;
     height: auto;
         /*background-color: black;*/
         color: ;
         text-align: black;
    }

      /*ARTICLE*/
    article {
         width: 50%;
         height:350px; 
         /*background-color: white;*/
         
         float: left;
    }

    article img{
      width: 100%;
      height: 100%;
      object-fit: 100%;
    }

      p {
       color: black;
       text-align: center;
       font-size:18px; 
       color: #8ab300;
      }

      

      /*ASIDE*/
    aside {
         width: 35%;
          text-align: center;
          /*background:black;*/
          padding: 25px;
          padding-left:20px; 
         color:#8ab300;
         float: right;
    }

    aside h1 {
      text-align: center;
      font-size: 20px;
      /*text-transform: uppercase;*/
       font-family: 'Raleway', sans-serif;

    }



      a {
        text-decoration: none;
        color: white;
        margin-top: 20px;
      }

      button {
        background-color: #8ab300;
        border: none;
        color: black; 
         font-size: 20px;
          cursor: pointer;
          padding: 5px 5px;
          border-radius: 10px;
      }

    
    
    h1 {
      color: white;
    }

