html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  text-align: right;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  
  background-image: url(../img/contactus.jpg);
  background-size: cover;
  overflow: hidden;
  padding-right: 50px
}

h1 {
  width: 100%;
  margin: 40vh 0 3vh 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 3em
}

i {
  display: block;
  width: 100%;
  margin-bottom: 4vh
}

.photo{
  width: 50%;
  position: absolute;
  top: 200px;
  left:100px; 
}

.fa {
  display: inline-block;
  background: #037;
  color: #ddd;
  text-decoration: none;
  padding-top: 12px;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 20%;
  box-sizing: border-box;
  margin-left: 15px;
  box-shadow: 0 -50px 0 0 rgba(0, 0, 0, 0) inset;
  transition: all 0.4s;
}

.fa:hover {
  color: #fff;
  box-shadow: 0 -50px 0 0 rgba(0, 0, 0, 0.5) inset
}

.fa:nth-of-type(2) {
  background: #08c
}

.fa:nth-of-type(3) {
  background: #d10
}

.fa:nth-of-type(4) {
  background: #eb0
}

.fa:nth-of-type(5) {
  background: #0c6
}