 /* FOOTER */
		footer {
         width: 100%;
         text-align: center;
         height: auto;
         /*margin: auto;*/
         background-color: black;
         color: #BDBDBD;
         clear: both;
		}
      h6 {
         margin-top: -2px;
      }
      .push-footer {
         margin-top: 100px;
      }