html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*------------------------------------*\
  #GLOBAL STYLE SETTINGS
\*------------------------------------*/

body{
  background:url(img/background.jpg) /*center no-repeat*/;

  font-family: 'Bad Script', cursive; 
}

section{
  width: 80%;
  /*border: 1px solid #8ab300;*/
  margin: 100px auto;
  height: 300px;
  background:url(img/pexels-photo-70232.jpeg) center no-repeat;
  background-size: 100%;
}

section img{
  width: 100%;
  height: 100%;
  object-fit: 100%;
}

h1, p{
  text-align: left;
  font-size: 60px;
  font-weight:normal;
  font-family: 'Bad Script', cursive; 
  color: #8ab300;
  padding: 25px;
}

p{
  font-size: 20px;
  padding-top: 0;
  padding-left: 25px;
  /*text-align: left;*/
  /*font-family: 'Bad Script', cursive; */
  /*color: #8ab300;*/
}